In [1]:
import pandas as pd
import os

In [106]:
df.columns

Index(['Champion', 'Game_title', 'Team1', 'Score', 'Team2', 'Week', 'Patch',
       'Date', 'Match_num', 'Player', 'Role', 'Kills', 'Deaths', 'Assists',
       'KDA', 'K+A', 'K+A Per Minute', 'KP%', 'CS', 'CSM', 'Golds', 'GPM',
       'GOLD%', 'Total damage to Champion', 'Physical Damage', 'Magic Damage',
       'True Damage', 'DPM', 'DMG%', 'DMG/GOLD', 'Total damage taken'],
      dtype='object')

In [49]:
all_paths = os.listdir("files/lpl2022summer/full_data")
all_paths.remove(".DS_Store")
df = ''
for i in range(0, len(all_paths)):
    all_sub_paths = os.listdir("files/lpl2022summer/full_data/"+all_paths[i])
    for j in range(0, len(all_sub_paths)):
        if i == 0 and j == 0:
            df = pd.read_csv("files/lpl2022summer/full_data/" + all_paths[i] + "/" + all_sub_paths[j])
        else:
            new_df = pd.read_csv("files/lpl2022summer/full_data/" + all_paths[i] + "/" + all_sub_paths[j])
            df = pd.concat([df, new_df], ignore_index = True)
df.rename(columns={'Unnamed: 0':'Champions'}, inplace=True)
df["DMG/GOLD"] = df["Total damage to Champion"]/df["Golds"]
df['DMG%'] = df['DMG%'].str.rstrip('%').astype('float') / 100.0
df['KP%'] = df['KP%'].str.rstrip('%').astype('float') / 100.0
df['GOLD%'] = df['GOLD%'].str.rstrip('%').astype('float') / 100.0
df['K+A'] = df["Kills"] + df["Assists"]
order = ["Champion", "Game_title", "Team1", "Score", "Team2", "Week", "Patch", "Date", "Match_num", 'Player', 'Role', 
        'Kills', 'Deaths', 'Assists', 'KDA', 'K+A', 'K+A Per Minute', 'KP%', 'CS','CSM', 'Golds', 'GPM', 
        'GOLD%', 'Total damage to Champion', 'Physical Damage','Magic Damage', 
        'True Damage', 'DPM', 'DMG%', "DMG/GOLD", 'Total damage taken', 'Level', "CS in Team's Jungle", 
        'CS in Enemy Jungle', 'Vision Score', 'Wards placed', 'Wards destroyed', 'Control Wards Purchased', 
        'Detector Wards Placed', 'VSPM', 'VS%', 'Solo kills', 'Double kills', 'Triple kills', 'Quadra kills', 
        'Penta kills', 'GD@15', 'CSD@15', 'XPD@15', 'LVLD@15', 'Objectives Stolen', 'WPM', 'VWPM', 'WCPM', 'Damage dealt to turrets', 
        'Damage dealt to buildings', 'Total heal', 'Total Heals On Teammates', 'Damage self mitigated', 
        'Total Damage Shielded On Teammates', 'Time ccing others', 'Total Time CC Dealt', 'Total Time Spent Dead']
df = df[order]
df.sort_values(by = ["Date", "Match_num"], ascending = True, inplace = True, axis = 0, ignore_index = True)
df.to_csv("files/lpl2022summer/Total.csv")
display(df)

,Champion,Game_title,Team1,Score,Team2,Week,Patch,Date,Match_num,Player,...,WCPM,Damage dealt to turrets,Damage dealt to buildings,Total heal,Total Heals On Teammates,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total Time Spent Dead
0,Camille,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Xiaolaohu,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Viego,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Clid,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Taliyah,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Care,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kalista,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Lwx,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sett,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Hang,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,Gwen,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,xiaoxiang,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2896,Wukong,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,Beichuan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2897,Sylas,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,Ucal,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2898,Sivir,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,Kepler,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2899,Leona,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,yaoyao,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
df.columns

Index(['Champion', 'Game_title', 'Team1', 'Score', 'Team2', 'Week', 'Patch',
       'Date', 'Match_num', 'Player', 'Role', 'Kills', 'Deaths', 'Assists',
       'KDA', 'K+A', 'K+A Per Minute', 'KP%', 'CS', 'CSM', 'Golds', 'GPM',
       'GOLD%', 'WPM', 'VWPM', 'WCPM', 'Total damage to Champion',
       'Physical Damage', 'Magic Damage', 'True Damage', 'DPM', 'DMG%',
       'DMG/GOLD', 'Total damage taken'],
      dtype='object')

In [105]:
df = pd.read_csv("files/lpl2022summer/Total.csv")
# df.drop(["Unnamed: 0"], inplace = True, axis = 1)
df = df[["Champion", "Game_title", "Team1", "Score", "Team2", "Week", "Patch", "Date", "Match_num", 'Player', 'Role', 
        'Kills', 'Deaths', 'Assists', 'KDA', 'K+A', 'K+A Per Minute', 'KP%', 'CS','CSM', 'Golds', 'GPM', 
        'GOLD%', 'Total damage to Champion', 'Physical Damage','Magic Damage', 
        'True Damage', 'DPM', 'DMG%', "DMG/GOLD", 'Total damage taken']]
df
# df1 = df[["Game_title", "Total damage taken", "Team1", "Match_num"]].groupby(["Game_title", "Team1", "Match_num"]).sum()
# df1.rename(columns={'Total damage taken':'Total damage taken wholeMatch'}, inplace=True)
# df = df.join(df1, on = ["Game_title", "Team1", "Match_num"])
# df["DT%"] = df["Total damage taken"]/df["Total damage taken wholeMatch"]
# df1.head()

,Champion,Game_title,Team1,Score,Team2,Week,Patch,Date,Match_num,Player,...,GPM,GOLD%,Total damage to Champion,Physical Damage,Magic Damage,True Damage,DPM,DMG%,DMG/GOLD,Total damage taken
0,Camille,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Xiaolaohu,...,317,0.200,7132.50,4763.55,403.75,1965.20,259,0.173,0.815982,17877.20
1,Viego,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Clid,...,310,0.196,3410.77,2843.01,192.26,375.50,124,0.083,0.399950,23399.40
2,Taliyah,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Care,...,346,0.219,16136.57,569.65,14980.20,586.72,586,0.392,1.692884,14930.30
3,Kalista,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Lwx,...,399,0.252,8673.98,8087.48,586.50,0.00,315,0.211,0.789118,14436.20
4,Sett,EDG vs FPX,Funplus Phoenix,1 - 2,Edward Gaming,WEEK1,12.10,2022-06-10,1,Hang,...,211,0.133,5796.77,3899.84,0.00,1896.93,211,0.141,0.997036,14717.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,Gwen,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,xiaoxiang,...,441,0.224,24753.63,2103.52,15055.50,7594.61,802,0.426,1.817180,28245.40
2896,Wukong,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,Beichuan,...,374,0.189,10222.16,8712.54,1117.32,392.30,331,0.176,0.886494,23866.10
2897,Sylas,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,Ucal,...,437,0.222,9490.28,1355.15,7814.54,320.59,307,0.163,0.702932,15465.00
2898,Sivir,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,Kepler,...,467,0.237,11328.86,10046.80,296.14,985.92,367,0.195,0.785744,7062.38
2899,Leona,LGD Gaming vs TT,LGD Gaming,1 - 2,TT,WEEK9,12.13,2022-08-03,3,yaoyao,...,253,0.128,2368.47,507.29,1260.88,600.30,77,0.041,0.303572,9319.50

In [83]:
week = "WEEK6"
match_count = 3

In [119]:
df_week = df[df["Week"] == "WEEK6"]
new = df_week[["Game_title", "Player", "Kills", "Deaths", "Assists", "KDA"]][df_week["Player"] == "Hope"]
# new["KDA"].astype(float).mean()
new

                  Game_title Player  Kills  Deaths  Assists   KDA
1653  JD Gaming vs Rare Atom   Hope      6       1        7    13
1678  JD Gaming vs Rare Atom   Hope      3       5        8   2.2
1693  JD Gaming vs Rare Atom   Hope      6       1       15    21
1878    Team WE vs JD Gaming   Hope      5       2       11     8
1893    Team WE vs JD Gaming   Hope      7       1       10  17.0

In [120]:
df_week = df[df["Week"] == "WEEK7"]
new = df_week[["Game_title", "Player", "Kills", "Deaths", "Assists", "KDA"]][df_week["Player"] == "JunJia"]
# new["KDA"].astype(float).mean()
new

             Game_title  Player  Kills  Deaths  Assists          KDA
2211  EDG vs LGD Gaming  JunJia      2       1        9           11
2231  EDG vs LGD Gaming  JunJia      3       0       13  Perfect KDA
2331         RNG vs EDG  JunJia      4       0       16  Perfect KDA
2366         RNG vs EDG  JunJia      4       2        9          6.5

In [121]:
# df_week = df[df["Week"] == week]
# df_week = df_week[["Player", "KDA"]].groupby(["Player"]).mean()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
# df_week.sort_values("KDA", ascending = False, inplace = True)
# df_week

In [77]:
# 战损比 KDA
df_week = df[df["Week"] == week]
df_week = df_week[["Player", "Deaths", "K+A"]].groupby(["Player"]).sum()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
df_week["week_average_KDA"] = df_week["K+A"]/df_week["Deaths"]
df_week.sort_values("week_average_KDA", ascending = False, inplace = True)
df_week.head(30)

            Deaths  K+A  week_average_KDA
Player
JunJia           3   60         20.000000
Wayward          2   39         19.500000
Mark             5   57         11.400000
Angel            5   51         10.200000
Hang             4   40         10.000000
Knight           5   47          9.400000
Viper            7   62          8.857143
Scout            6   52          8.666667
Hope             9   73          8.111111
Xing             7   52          7.428571
Kanavi          11   80          7.272727
JackeyLove       7   49          7.000000
Yagao           10   69          6.900000
LvMao            9   60          6.666667
SofM             8   53          6.625000
xiaohu          10   62          6.200000
GALA             8   48          6.000000
huanfeng         8   47          5.875000
Flandre          7   41          5.857143
369             11   64          5.818182
Betty            9   47          5.222222
Light           10   52          5.200000
Kepler           9   44          4.888889
Doinb            9   42          4.666667
Missing         17   76          4.470588
TheShy          11   49          4.454545
Clid             7   31          4.428571
Care             8   34          4.250000
Lwx              7   29          4.142857
Ucal            13   53          4.076923

In [78]:
# 场均参战率 KP%
df_week = df[df["Week"] == week]
df_week = df_week[["Player", "KP%"]].groupby(["Player"]).mean()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
df_week.sort_values("KP%", ascending = False, inplace = True)
df_week

              KP%
Player
Jerry    0.966667
Hang     0.924667
LvMao    0.898500
xiaohu   0.872200
Forge    0.859200
...           ...
Summit   0.477667
Breathe  0.455000
Rise     0.449400
Zoom     0.436250
PandaC   0.383500

[70 rows x 1 columns]

In [79]:
# 场均伤害占比 DMG%
df_week = df[df["Week"] == week]
df_week = df_week[["Player", "DMG%"]].groupby(["Player"]).mean()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
df_week.sort_values("DMG%", ascending = False, inplace = True)
df_week

                DMG%
Player
TheShy      0.357800
xiaohu      0.340400
Light       0.324000
JackeyLove  0.320750
Ahn         0.309667
...              ...
Qiuqiu      0.076800
yaoyao      0.076000
ON          0.075800
Ming        0.060000
Jerry       0.055333

[70 rows x 1 columns]

In [ ]:
# 场均参承伤 DT%
# df_week = df[df["Week"] == "WEEK7"]
# df_week = df_week[["Player", "KP%"]].groupby(["Player"]).mean()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
# df_week.sort_values("KP%", ascending = False, inplace = True)
# df_week

In [93]:
# 场均伤害转化率 DMG/GOLD
df_week = df[df["Week"] == "WEEK7"]
df_week = df_week[["Player", "Total damage to Champion", "Golds"]].groupby(["Player"]).sum()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
df_week["week_average_DMG/GOLD"] = df_week["Total damage to Champion"]/df_week["Golds"]
df_week.sort_values("week_average_DMG/GOLD", ascending = False, inplace = True)
df_week.head(30)

            Total damage to Champion  Golds  week_average_DMG/GOLD
Player
Light                      107160.79  61152               1.752368
xiaohu                     111265.54  65078               1.709726
JackeyLove                  95384.11  56266               1.695235
369                        117153.61  69174               1.693608
Cryin                       71121.94  42353               1.679266
Summit                      59939.77  36251               1.653465
TheShy                     110394.55  68842               1.603593
PandaC                      72573.62  45632               1.590411
Creme                       87469.28  55114               1.587061
Care                        58558.28  36941               1.585184
shanji                      96681.89  62616               1.544044
Elk                         64768.62  42299               1.531209
Ucal                       121051.32  79750               1.517885
Wayward                     78261.02  53310               1.468036
Hope                       116007.52  83290               1.392815
Doinb                       72713.65  52408               1.387453
Flandre                     85406.02  61692               1.384394
Ahn                        111315.48  81237               1.370256
Yagao                       91572.41  67512               1.356387
Angel                       81271.68  62512               1.300097
Knight                      65784.28  50734               1.296651
Hoya                        96011.75  74509               1.288593
Lwx                         49712.00  38929               1.276991
Betty                       82787.33  65070               1.272281
Scout                       74963.58  59426               1.261461
Viper                       86202.00  68683               1.255070
Bin                         77927.06  62172               1.253411
GALA                        89257.09  71488               1.248560
Kanavi                      84539.08  68036               1.242564
Forge                       71306.70  57850               1.232614

In [97]:
# 场均伤害转化率 DMG%/GOLD%
df_week = df[df["Week"] == "WEEK7"]
df_week = df_week[["Player", "DMG%", "GOLD%"]].groupby(["Player"]).sum()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
df_week["DMG%/GOLD%"] = df_week["DMG%"]/df_week["GOLD%"]
df_week.sort_values("DMG%/GOLD%", ascending = False, inplace = True)
df_week.head(30)

             DMG%  GOLD%  DMG%/GOLD%
Player
TheShy      1.789  1.201    1.489592
xiaohu      1.702  1.151    1.478714
Creme       1.402  1.039    1.349374
JackeyLove  1.283  0.961    1.335068
shanji      1.540  1.173    1.312873
Cryin       1.196  0.916    1.305677
Ucal        1.739  1.337    1.300673
Summit      0.840  0.658    1.276596
369         1.558  1.245    1.251406
Light       1.296  1.040    1.246154
Flandre     1.391  1.120    1.241964
Ahn         1.858  1.513    1.228024
Care        0.822  0.672    1.223214
Bin         1.500  1.239    1.210654
Elk         1.103  0.917    1.202835
Forge       1.235  1.047    1.179561
xiye        0.773  0.658    1.174772
Betty       1.319  1.135    1.162115
Angel       1.251  1.093    1.144556
Wayward     1.029  0.914    1.125821
Scout       1.224  1.091    1.121907
Mole        1.336  1.212    1.102310
Hoya        1.379  1.252    1.101438
Rise        1.256  1.141    1.100789
Viper       1.375  1.250    1.100000
PandaC      0.838  0.768    1.091146
GALA        1.338  1.227    1.090465
Biubiu      1.170  1.080    1.083333
Xing        1.361  1.280    1.063281
Hope        1.566  1.499    1.044696

In [88]:
df_week = df[df["Week"] == week]
df_week[["Total damage to Champion", "Golds", "DMG/GOLD"]][df_week["Player"] == "FoFo"]

      Total damage to Champion  Golds  DMG/GOLD
1792                  23446.40  13096  1.790348
1807                  23421.50  12606  1.857964
1912                  50260.03  18242  2.755182

In [90]:
df_week = df[df["Week"] == week]
df_week = df_week[["Player", "DMG/GOLD"]].groupby(["Player"]).mean()[df_week[["Player"]].groupby(["Player"]).size() >= match_count]
df_week.sort_values("DMG/GOLD", ascending = False, inplace = True)
df_week.head(30)

            DMG/GOLD
Player
FoFo        2.134498
Creme       1.796897
Angel       1.792226
369         1.698374
Photic      1.694939
Yagao       1.652956
iBOY        1.600673
Cryin       1.576270
TheShy      1.552570
Summit      1.539911
RooKie      1.506057
JackeyLove  1.479699
Shanks      1.461391
Elk         1.455632
Strive      1.446328
icon        1.436057
Haichao     1.417518
Doinb       1.416990
Bin         1.416880
Rise        1.412501
Rich        1.400729
Lwx         1.376624
Knight      1.353959
Scout       1.353276
Viper       1.345371
Ucal        1.315384
Betty       1.314923
Cube        1.308291
Assum       1.307953
Breathe     1.285287